div
{
margin:40px;
}

h1
{
	text-align: center;
}

hr
{
   height:12px;
   background-color:green;
}

li
{
  font-size: 15px;
}

table
{
  border:10px double rgb(22, 148, 3); 
  border-collapse: collapse;
  margin:auto;
  width:100%;
}

th
{    
	border:2px solid rgb(22, 148, 3);
    font-family: "Times New Roman", Times, serif;
    background-color: rgb(30, 232, 145);
}

td
{    
	
	border:2px solid rgb(22, 148, 3);
    font-family:verdana;
    background-color: rgb(211, 240, 234);
    padding:0px;
}

div.a
{
  border: 5px dotted rgb(22, 148, 3) ;
  margin:50px;
  color:rgb(54, 138, 66);
}